name: Build & Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - '../../.docker/**'
      - '.github/workflows/docker-publish.yml'
      - 'Dockerfile'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/my-image:latest ./docker

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/my-image:latest
